<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-sm-12">
      <h1>Change Password</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate>

        <div class="form-group">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <div class="form-group">
          <label>Confirm New Password</label>

          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                 match="vm.user.newPassword"
                 ng-minlength="3"
                 required=""/>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && vm.submitted">
            Passwords must match.
          </p>

        </div>

        <p class="help-block"> {{ vm.message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>
      </br>
      </br>
      <div class="chip">
        <img src="../assets/images/Fitbit-logo-RGB.png" alt="Fitbit Connect">
        Fitbit connected - last sync {{vm.now}}
      </div>
    </div>

  </div>
  <form class="dropzone"
        method="post"
        enctype="multipart/form-data"
        ng-dropzone
        dropzone="vm.dropzone"
        dropzone-config="vm.dropzoneConfig"
        event-handlers="{ 'addedfile': vm.dzAddedFile, 'error': vm.dzError }">
  </form>
</div>

<div class="container">
  <ul class="collapsible" data-collapsible="accordion">
    <li class="list-group-item avatar" ng-repeat="user in vm.users">
      <div class="collapsible-header"><img src="../../assets/images/me.jpeg" alt=""
                                           class="circle"><strong>{{user.name}}</strong>
        <p> Sharing data with {{user.name}} during weekdays from {{vm.weeksvalue[0]}} am to {{vm.weeksvalue[1]}} pm </p>
      </div>
      <div class="collapsible-body">
        <input type="checkbox" ng-checked="vm.getRights(user.fitbitId, user.name).week" ng-model="hasweeks"
               id="week_{{user._id}}"
               ng-change="vm.check(1, user._id, hasweeks)"/>
        <label for="week_{{user._id}}">Weekdays</label>
        <div uislider ng-disabled="!hasweeks" connect="vm.connect" tooltips="vm.connect"
             ng-model="vm.getRights(user.fitbitId,user.name).weektime"
             min="0" max="24" step="1"></div>
        </br></br>
        <input type="checkbox" ng-checked="vm.getRights(user.fitbitId, user.name).weekend" ng-model="hasweekends"
               id="weekends_{{user._id}}"
               ng-change="vm.check(2, user._id, hasweekends)"/>
        <label for="weekends_{{user._id}}">Weekends</label>
        <div ng-disabled="!hasweekends" id="slider_{{user._id}}" uislider connect="vm.connect" tooltips="vm.connect"
             ng-model="vm.getRights(user.fitbitId, user.name).weekendtime" min="0" max="24" step="1"></div>
      </div>
    </li>
  </ul>
</div>
