<div class="container">
  <div class="row">
    <label for="inputStart">Start date</label>
    <input input-date
           type="text"
           name="start"
           id="inputStart"
           ng-model="vm.startDate"
           container=""
           format="dd/mm/yyyy"
           months-full="{{ vm.month }}"
           months-short="{{ vm.monthShort }}"
           weekdays-full="{{ vm.weekdaysFull }}"
           weekdays-short="{{ vm.weekdaysShort }}"
           weekdays-letter="{{ vm.weekdaysLetter }}"
           disable="disable"
           min="{{ vm.minDate }}"
           max="{{ vm.maxDate }}"
           today="vm.today"
           clear="vm.clear"
           close="vm.close"
           select-years="15"
    />

    <rzslider rz-slider-model="vm.slider.minValue"
              rz-slider-high="vm.slider.maxValue"
              rz-slider-options="vm.slider.options"></rzslider>

    <label for="inputEnd">End date</label>
    <input input-date
           type="text"
           name="created"
           id="inputEnd"
           ng-model="vm.endDate"
           container=""
           format="dd/mm/yyyy"
           months-full="{{ vm.month }}"
           months-short="{{ vm.monthShort }}"
           weekdays-full="{{ vm.weekdaysFull }}"
           weekdays-short="{{ vm.weekdaysShort }}"
           weekdays-letter="{{ vm.weekdaysLetter }}"
           disable="disable"
           min="{{ vm.minDate }}"
           max="{{ vm.maxDate }}"
           today="vm.today"
           clear="vm.clear"
           close="vm.close"
           select-years="15"
    />
  </div>
  <div class="chip">
    <img src="../../assets/images/me.jpeg" alt="Contact Person">
    You
  </div>
  <br/><br/>
  <div class="row">
    <div line-chart data="vm.steps" clicked="vm.clicked(args)" interpolate="vm.interpolate"></div>
  </div>

  <column-chart height="vm.options.height" data="vm.data" hovered="vm.hovered(args)"
                ng-click="vm.clicked(args)"></column-chart>

  <div class="container">
    <div id='graphic'>
      <div id='sections'>
        <section class="step" class="editable" contenteditable="true">
          <div class="title">Last night sleep</div>
          Take a look at your last nigh sleep<br/><br/> You can write here and add your own comments
        </section>
        <section class="step" class="editable" contenteditable="true">
          <div class="title">Morning Exercise</div>
          I see you did some exercise from <b>6 am </b> to <b> 7 am </b>
          <br/><br/>
          Totals
          8,760 steps 24 floors 6.87 km 3,285 calories
        </section>
        <section class="step" class="editable" contenteditable="true">
          <div class="title">Morning route to work</div>
          You have specified that this is your normal time to commuting to work.
        </section>
        <section class="step" class="editable" contenteditable="true">
          <div class="title">In the office</div>
          According to your steps you were sitting down from <b>9 am </b> to <b> 12 pm </b>
        </section>
        <section class="step" class="editable" contenteditable="true">
          <div class="title">Walking to lunch</div>
          Walked 20 minutes to lunch. Scroll left to see whether somebody was with you.
        </section>
        <section class="step" class="editable" contenteditable="true">
          <div class="title">Fillers Over Time</div>
          I hoped that all these blunders were toward the beginning of my talk. And the data suggests that fewer fillers
          are used as I get into it. Perhaps the talk started out rough and improved as I found my groove.
        </section>
        <section class="step" class="editable" contenteditable="true">
          <div class="title">After work commute</div>

        </section>
        <section class="step" class="editable" contenteditable="true">
          <div class="title">An odd bit of data</div>
          Your heart rate is really high. Why might this be?
        </section>
        <section class="step" class="editable" contenteditable="true">
          <div class="title">Relaxed again</div>
          There is an overview of your day.
        </section>
      </div>
      <div id='vis'>
      </div>
      <div id="extra-space">
      </div>
    </div>
  </div>
</div>
