
.container {
	width: 90%;
	max-width: inherit;
}

#graphic {
	padding-top: 60px;
}



.step {
	margin-bottom: 200px;
	font-family: "TiemposTextWeb-Regular","Georgia";
	font-size: 16px;
	line-height: 23px;
	color: #767678;
}

#sections .title {
	font-family: Arial,Helvetica,"san-serif";
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 2px;
	color: #262626;
	line-height: 1.2em;
}

#extra-space {
	height: 200px;
}



#vis .title {
	font-size:120px;
	text-anchor: middle;
}

#vis .sub-title {
	font-size:80px;
	text-anchor: middle;
}

.axis path,
.axis line {
	fill: none;
	stroke: #666;
}

.highlight {
	fill: #008080;
	font-weight: bold;
}

.cough-arrow {
	stroke: #000;
	stroke-width: 4px;

}


.datepickerdemoBasicUsage md-content {
	padding-bottom: 200px;
}

.datepickerdemoBasicUsage .validation-messages {
	font-size: 12px;
	color: #dd2c00;
	margin: 10px 0 0 25px;
}


.axis text{
	font-family: sans-serif;
	font-size: 10px;
}

h1{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16px;
}
.tick
{
	stroke-dasharray: 1, 2;
}

svg {
	font: 10px sans-serif;
}

.axis {
	shape-rendering: crispEdges;
}

.axis path, .axis line {
	fill: none;
	stroke-width: 1px;
}

.x.axis path, .axis line {
	stroke: #000;
}

.x.axis line {
	stroke: #fff;
	stroke-opacity: .5;
}

.y.axis line {
	stroke: #ddd;
}

path.line {
	fill: none;
	stroke: #009688;
	stroke-width: 1.5px;
}

rect.pane {
	cursor: move;
	fill: none;
	pointer-events: all;
}

/*
Accordion
*/

.collapsible-header {
	border-bottom: none;
	line-height: 34px;
}

.collapsible-body {
	border: none;
	padding: 20px 0;
}

.collapsible-body label {

}

.collapsible-body .noUi-target {
	margin: 40px 50px 20px 50px;
}

.collapsible-header p {
	margin: 0;
}

.collapsible-header img.circle {
	position: absolute;
	width: 50px;
	height: 50px;
	overflow: hidden;
	left: 20px;
	display: inline-block;
	top: 20px;
	vertical-align: middle;
}

.list-group-item.avatar {
	min-height: 84px;
	padding-left: 72px;
	position: relative;
}

.brush .extent {
	stroke: #fff;
	/*fill-opacity: .125;*/
	fill-opacity: 0;
	shape-rendering: crispEdges;
}


#container, #container2{
	position: relative;
	width: 100%;
	overflow: hidden;
}


#sections {
	position: relative;
	display: inline-block;
	width: 100%;
	float: left;
	top: 0px;
	z-index: 90;
	padding-bottom: 200px;
}
#sections2 {
	position: relative;
	display: inline-block;
	width: 100%;
	float: right;
	top: 0px;
	z-index: 90;
	padding-bottom: 200px;
}

#sections > section, #sections2 > section{
	padding-bottom: 450px;
	background: white;
	opacity: .2;
	pointer-events: none;
}


#sections > section:focus, #sections2 > section:focus{
	outline: none;
}

#sections > section.graph-scroll-active, #sections2 > section.graph-scroll-active{
	opacity: 1;
	pointer-events: auto;
}


#graph, #graph2{
	position: fixed;
	top: 280px;
	left: 50%;
	margin-left: -480px;
	padding: 20px 0 0 0;
	width: 960px;
	display: block;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}

#graph.graph-scroll-fixed, #graph2.graph-scroll-fixed{
	top: 0px;
}


/* Layout */
.container-fluid {
	margin: 0 auto;
	max-width: 1800px;
	padding: 0;
}

/* Welcome Banner */
.welcome-banner {
	padding: 40px 20px;
	text-align: center;
}
.welcome-banner--headline {
	color: #31AFA3;
	font-size: 34px;
	font-weight: 500;
	margin: 0 0 30px 0;
	padding: 0;
}
.welcome-banner--subtitle {
	color: #666;
	font-size: 15px;
	margin: 0 auto;
	max-width: 640px;
	padding: 0;
}

/* Columns */
#left-column {
	box-sizing: border-box;
	position: relative;
	float: left;
	padding: 30px;
	width: calc((100% - 960px) / 2);
}
#center-column {
	box-sizing: border-box;
	position: relative;
	float: left;
	width: 960px;
}
#right-column {
	box-sizing: border-box;
	position: relative;
	float: left;
	padding: 30px;
	width: calc((100% - 960px) / 2);
}
.column-header {
	color: #31AFA3;
	font-weight: 500;
	font-size: 22px;
}
.column-subtext {
	color: #999;
	font-size: 14px;
}

/* Date Selector */

.date-picker {
	position: relative;
}

.date-picker .date-picker--input {
	height: 136px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	z-index: 2;
}

.date-picker .date-picker--ui {
	background-color: #31AFA3;
	border-radius: 10px;
	color: white;
	margin-bottom: 20px;
	padding: 10px;
	position: relative;;
	text-align: center;
	z-index: 1;
}
.date-picker .date-picker--ui .date-selector--month {
	font-size: 22px;
	font-family: "Roboto", sans-serif;
	text-transform: capitalize;
	font-weight: 300;
	margin: 0px;
	padding: 5px;
}

.date-picker .date-picker--ui .date-selector--day {
	font-size: 36px;
	font-family: "Roboto", sans-serif;
	text-transform: capitalize;
	font-weight: 400;
	margin: 0px;
	padding: 0px 5px;
}

.date-picker .date-picker--ui .date-selector--year {
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	text-transform: capitalize;
	font-weight: 400;
	margin: 0px;
	opacity: 0.5;
	padding: 5px;
}


/* Friends List */

.friends-list {
	background-color: #f2f2f2;
	border-radius: 10px;
	height: 140px;
	margin: 0;
	padding: 0;
	overflow-x: scroll;
	overflow-y: hidden;
	position: fixed;
	bottom: 20px;
	width: 960px;
	left: 50%;
	margin-left: -480px;
}

.friends-list ul {
	height: 100px;
	margin: 0;
	padding: 0 10px;
}

/* Friend Wrapper */
.friends-list--info {
	float: left;
	height: 140px;
	margin: 0;
	overflow: hidden;
	padding: 10px;
	text-align: left;
	width: 340px;
}

.friends-list--info-header {
	color: #31AFA3;
	font-weight: 500;
	font-size: 22px;
	margin: 10px 0;
	padding: 0;
}

.friends-list--info-subtext {
	color: #999;
	font-size: 14px;
}

/* Friend Wrapper */
.friends-list ul li.friends-list--friend-wrapper, .friends-list ul li.add-friend {
	float: left;
	height: 100px;
	margin: 20px 0;
	overflow: hidden;
	padding: 10px;
	text-align: center;
}
.friends-list ul li.friends-list--friend-wrapper img {
	background-color: #e9e9e9;
	border-radius: 50%;
	display: block;
	margin: 5px 10px 0px 10px;
	height: 50px;
	width: 50px;
}
.friends-list ul li.friends-list--friend-wrapper .friend-name {
	color: #999;
	display: block;
	font-size: 12px;
	line-height: 30px;
}

/* Add Friends */
.friends-list ul li.add-friend .add-friend--icon {
	border-radius: 50%;
	border: #31AFA3 2px solid;
	color: #31AFA3;
	display: block;
	margin: 5px 10px 0px 10px;
	height: 50px;
	line-height: 46px;
	width: 50px;
}
.friends-list ul li.add-friend .add-friend--text {
	color: #999;
	display: block;
	font-size: 12px;
	line-height: 30px;
}


/* Profile Section */

.profile-section {
	margin-bottom: 20px;
}

.profile-section--avatar {
	border-radius: 50%;
}


/* Public Discussion */

.public-comment {
	margin-bottom: 30px;
	padding-left: 65px;
	position: relative;
}

.public-comment--avatar {
	height: 50px;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
}

.public-comment--user {
	color: #31AFA3;
	margin: 0;
	padding: 0;
}

.public-comment--text {
	color: #444;
	margin: 5px 0;
	padding: 0;
}

.public-comment--date {
	color: #999;
	margin: 0;
	padding: 0;
}
