<div class="container">
  <div class="row">
    <label for="dateSelect">Select date</label>
    <input input-date
           type="text"
           name="start"
           id="dateSelect"
           ng-model="vm.startDate"
           container=""
           format="dd/mm/yyyy"
           formatSubmit="dd-mm-yyyy"
           months-full="{{ vm.month }}"
           months-short="{{ vm.monthShort }}"
           weekdays-full="{{ vm.weekdaysFull }}"
           weekdays-short="{{ vm.weekdaysShort }}"
           weekdays-letter="{{ vm.weekdaysLetter }}"
           disable="disable"
           min="{{ vm.minDate }}"
           max="{{ vm.maxDate }}"
           today="vm.today"
           clear="vm.clear"
           close="vm.close"
           select-years="15"
           on-start="vm.onStart()"
           on-render="vm.onRender()"
           on-open="vm.onOpen()"
           on-close="vm.onClose()"
           on-set="vm.onSet()"
           on-stop="vm.onStop()"
    />
  </div>
  <div id="people" class="row">
    <div class="chip">
      <img src="{{vm.getCurrentUser.avatar}}" alt="Contact Person">
      Me
    </div>
    <div ng-model="vm.rights" ng-repeat="right in vm.rights">
      <div ng-show="right.week || right.weekend" class="chip" ng-click="vm.addData(right)">
        <img src="{{vm.getAvatar(right.userId)}}" alt="Contact Person">
        {{right.name}}
      </div>
    </div>
  </div>
  <div id="container">
    <div id="sections" class="sections">
      <section class="section" ng-repeat="(key, element) in vm.personalSections track by $index"
               id="step-{{$index+1}}"
               class="step">
        <!--<p ng-model="section.html" ng-bind-html="section.html"></p>
        <input placeholder="Write your comments here!" ng-model="section.text" id="comment-{{$index+1}}" type="text"
               ng-blur="vm.personalComment($event, section)">-->
        <input placeholder="Join the discussion!" ng-model="vm.currentPersonalComment" type="text" id="comment-{{$index+1}}" ng-keyup="$event.keyCode == 13 && vm.personalComment($event, element)" ng-blur="vm.personalComment($event, element)">
        <div class="note" ng-repeat="section in element">
                {{section.text}}
                {{section.startDate}} - {{section.endDate}}
        </div>
        <!--<div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <textarea id="textarea-{{$index+1}}" class="materialize-textarea" ng-model="section.text"
                          ng-blur="vm.blur($event, section, true)" ng-bind-html="section.text"></textarea>
                <label for=textarea-{{$index+1}}>Write your comment here</label>
              </div>
            </div>
          </form>
        </div>-->
      </section>
    </div>
    <div id="sections2" class="sections">
      <section class="section" ng-repeat="(key, value) in vm.sections track by $index" ng-model="value"
               id="steps-{{$index+1}}"
               class="step">
        <input placeholder="Join the discussion!" ng-model="vm.currentComment" type="text" id="comments-{{$index+1}}" ng-keyup="$event.keyCode == 13 && vm.comment($event, value)" ng-blur="vm.comment($event, value)">
        <div class="commentsbox col s12 m8 offset-m2 l6 offset-l3" ng-repeat="section in value">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="../../assets/images/me.jpeg" alt="" class="circle responsive-img">
              </div>
              <div class="col s10">
              <span class="black-text">
                {{section.text}}
                {{section.startDate}} - {{section.endDate}}
              </span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!--<div id="graph1" simple-line-chart data="vm.graphData" brushed="vm.brushed(args)" interpolate="vm.interpolate"></div>-->
    <graph-scroll ready="vm.ready" active="vm.active(args)">
      <graph id="graph" data="vm.graphData" brushed="vm.brushed(args)" interpolate="vm.interpolate">
      </graph>
    </graph-scroll>
    <div id="extra-space">
    </div>
  </div>


</div>
</div>
